<div class="card">
    <div>
        <mat-card class="newBillCard">
            <div class="d-flex justify-content-between">
                <h3 class="card-title">My Bills</h3>
            </div>
            <div class="card mx-3 dataCard" *ngFor="let item of saleBillsList">
                <div class="d-flex justify-content-between  border-dark">
                    <p>{{item.billCode}} <br>{{item.billDate | date: 'dd/MM/yyyy'}}</p>
                    <p>Rs. {{item.billAmount}}</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>
